# Frontend dependencies
frontend/node_modules/
frontend\dist
# IDE
.idea/

# Python caches
__pycache__/
utils/__pycache__/

#test
test

# Large data files
data_cache/other/market_states.parquet
data_cache/stock_daily/stock_daily_metadata.parquet
